@import '../../styles/fonts';
@import '../../styles/variables';

.label {
  font-family: $font-primary;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: $color-secondary;
}
