@import '../../styles/variables';
@import '../../styles/fonts';

.theme-text-input {
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1.15em;
    background-color: $color-white;
    border: 4px solid $color-primary;
    padding: 0px 10px;
    border-radius: 10px;
    transition: border-radius 100ms ease-out;
    font-family: 'Ubuntu', 'Courier New', Courier, monospace;
}

.theme-text-input-label {
    position: relative;
    margin: 10px;
    height: 50px;
    user-select: none;
    cursor: text;
}

.theme-text-input-label div {
    position: absolute;
    top: 50%;
    left: 2.5%;
    font-size: 1.15em;
    transform: translateY(-50%);
    transition: all 100ms ease-out;
    background-color: $color-white;
    color: $color-primary;
    padding: 0px 4px;
    font-family: 'Ubuntu', 'Courier New', Courier, monospace;
}

.theme-text-input:focus ~ div,
.theme-text-input:valid ~ div,
.theme-text-input:active ~ div {
    font-size: 1em;
    top: 0%;
    left: 7.5%;
    color: $color-secondary;
    border-radius: 50px;
    transform: translateY(-40%);
    font-weight: 600;
}

.theme-text-input:focus,
.theme-text-input:valid,
.theme-text-input:active {
    border-radius: 15px;
}