@import '../../styles/variables';
@import '../../styles/fonts';

.theme-text-input {
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1.15em;
    background-color: $color-white;
    border: 4px solid $color-primary;
    color: $color-secondary;
    padding: 0px 10px;
    border-radius: 10px;
    transition: border-radius, border-color $time-hover ease-out;
    font-family: $font-primary;
}

.theme-text-input-label {
    position: relative;
    margin: 10px;
    height: 50px;
    user-select: none;
    cursor: text;
}

.theme-text-input:focus,
.theme-text-input[data-has-value='1'],
.theme-text-input:active {
    border-radius: 15px;
}

.theme-text-input:focus,
.theme-text-input:hover,
.theme-text-input:active {
    border-color: $color-highlight;
}


.theme-text-input:not(:valid) {
    border-color: $color-failure;
}

.theme-text-input[data-invalid='1'] {
    animation: shakeInput 750ms ease-in-out infinite;
}

@keyframes shakeInput {

    0%,
    100% {
        border-color: $color-primary;
    }

    25%,
    75% {
        border-color: $color-failure;
    }

    50% {
        border-color: $color-primary;
    }
}

.theme-text-input-label div {
    position: absolute;
    top: 50%;
    left: 2.5%;
    font-size: 1.15em;
    transform: translateY(-50%);
    transition: all $time-hover ease-out;
    background-color: $color-white;
    color: $color-primary;
    padding: 0px 4px;
    font-family: $font-primary;
}

.theme-text-input:focus~div,
.theme-text-input[data-has-value='1']~div,
.theme-text-input:active~div {
    font-size: 1em;
    top: 0%;
    left: 7.5%;
    color: $color-secondary;
    border-radius: 50px;
    transform: translateY(-40%);
    font-weight: 600;
}

.theme-text-input[data-invalid='1']~div {
    animation: shakePlaceholder 750ms ease-in-out infinite;
}

@keyframes shakePlaceholder {

    0%,
    100% {
        left: 7.5%;
    }

    25%,
    75% {
        left: 9%;
    }

    50% {
        left: 6%;
    }
}