@import '../styles/variables';
#page-1 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#logo-container {
    position: absolute;
    top: 60vh;    
}

#gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    width: 100%;
    height: 40%;
    background: -webkit-linear-gradient(30deg,$color-primary,$color-primary,$color-white);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
