#reveiw-container {
  border: 0.25vh solid black;
  margin: 1vh;
  border-radius: 2vh;
  padding: 1.5vh;
}

.review-user-bar {
  display: flex;
  // border: 1px solid orange;
  height: 1.5em;
}

.star-container {
  margin-left: 2vh;
  height: auto;
  // height: 100%;
  // border: 1px solid orange;
}

#review-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 4vh;
}

.review-user {
  font-style: italic;
  font-size: large;
}
