#temp {
    // border: 1px solid orange;
}

#star-conainer {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#star-conainer img {
    width: 10%;
}

#star-description {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}